%nav.navbar.is-light.is-spaced
  .container
    .navbar-brand
      = link_to "Portfolio", root_path, class: "navbar-item brand-logo has-background-transparent"
      .navbar-burger.js-burger{"data-target": "navMenu"}
        %span
        %span
        %span
    #navMenu.navbar-menu
      .navbar-start
        = render "shared/nav_items", classes: "navbar-item"
      .navbar-end
        .navbar-item
          .field.is-grouped.is-grouped-multiline
            - if user_signed_in?
              %p.control
                = link_to "Sign out", destroy_user_session_path, method: :delete, class: "button is-danger is-outlined is-rounded js-disable-with-loading"
            - else
              %p.control
                = link_to "Sign in", new_user_session_path, class: "button is-info is-outlined is-rounded"
              %p.control
                = link_to "Sign up", new_user_registration_path, class: "button is-primary is-outlined is-rounded"
