- content_for :fullscreen do
  .section.is-flex.is-fullscreen.is-column.has-content-centered.has-background-light
    .container.is-narrow
      - if flash.any?
        = render "shared/flash_messages"
      .box.is-highlight
        .form.has-text-centered
          %h2.title Sign in to your account
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            .field
              .control.has-icons-left
                = f.email_field :email, class: "input", autofocus: true, autocomplete: "email", placeholder: "Email"
                %span.icon.is-small.is-left
                  %i.fa.fa-envelope
            .field
              .control.has-icons-left
                = f.password_field :password, class: "input", autocomplete: "off", placeholder: "Password"
                %span.icon.is-small.is-left
                  %i.fa.fa-lock
            - if devise_mapping.rememberable?
              = f.check_box :remember_me
              = f.label :remember_me, class: "checkbox"
            .field
              .control
                = f.button "Sign in", class: "button is-primary is-medium is-fullwidth js-disable-with-loading"
          .columns
            .column.links
              = render "devise/shared/links"
            .column.is-narrow.actions
              = link_to "Back", root_path, class: "button is-danger is-outlined"
